Hello {{ user.get_full_name|default:user.username }},

You requested a password reset for your Restaurant Order Management account.

Please click the link below to reset your password:
{{ protocol }}://{{ domain }}{% url 'restaurant:password_reset_confirm' uidb64=uid token=token %}

If you didn't request this password reset, please ignore this email. Your password won't be changed.

The link will expire in 24 hours for security reasons.

Best regards,
Restaurant Order Management Team

---
This is an automated email. Please do not reply to this message.